/* reset.css */
body,
h3,
p,
h2 {
	margin: 0;
}
ul {
	margin:0;
	padding:0;
	list-style:none;
}
a {
	text-decoration: none;
	font-size: 14px;
	color: #000;
}
/* end reset.css */
.wrap{
	width: 1160px;
	margin: 0 auto;
}
.clearfix:after{
	content:"";
	display:block;
	clear:both;
}
/* header begin */
#header {
	height: 62px;
	background: #373942;
}
#header .h1 {
	float: left;
	padding-left: 56px;
	font: 700 18px/62px "宋体";
	color: #e5e9ee;
	height: 0;
	overflow: hidden;
}
#header .logo {
	float: left;
	width: 166px;
	margin-right: 40px;
}
#header .logo span {
	float: left;
	width: 166px;
	height: 62px;
	background: url(../img/logo.png) no-repeat 0 19px;
}
.headerL {
	float: left;
}
.headerL a {
	float: left;
	font: 600 14px/62px "宋体";
	color: #e5e9ee;
	padding:0 19px;
}
.headerL span {
	display: inline-block;
	width: 8px;
	height: 6px;
	margin: 0 5px 0 4px;
	background: url(../img/spirit.png) no-repeat left -79px;
}
.headerL a:hover{
	background:#2b2d34;
}
/*header 表头的hover*/
.headerL .list {
	float:left;
	height:208px;
	background:#2b2d34;	
}
.headerL .list1  a{
	width: 64px;
	font:12px/42px "宋体";
	color:#a3a3a3;
	margin-left: 10px;
	border-bottom: 1px solid #383a45;
}
/*利用定位把下拉菜单定位   脱离文档流*/
.headerL .box {
	position:absolute;
	top:62px;
	left:508px;	
}
/*.list {
	display:none;
}
.doc:hover .list{
	display: block;
}*/
.list {
	display: none;
}
.box:hover .list{
	display: block;
}
/*右边那块*/
.headerR {
	float: right;
	width:316px;
	height:62px;
}
.headerR .search {
	float: left;
	width: 17px;
	height: 16px;
	background: url(../img/spirit.png) no-repeat;
}
.headerR .ico {
	float: left;
	width: 18px;
	height: 19px;
	background: url(../img/spirit.png) no-repeat left -29px;
} 
.headerR .enter {
	float: right;
	font: 600 14px/62px "宋体";
	color: #cdd4dc;
}
/* end header*/

.headerL.clearfix ul {
	padding: 0 19px;
	height: 62px;
	line-height: 62px;
	float: left;
}
.headerL.clearfix .parent {
	float: left;
}
.headerR {
	float: right;
	width:200px;
	border:1px solid red;
}
.parent {
	position: relative;
}
.child {
	display: none;
}
.parent:hover .child {
	display: block;
}
.child{
	position: absolute;
	top:62px;
	left:0;
}
